.btn-space {
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100px;
  font-size: 25px;
}

.container{
  width: 100%;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}

.header {
  font-size: 100px;
}

.numbers {
  font-size: 75px;
}
